<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hoteldb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="ch/bbw/siegrist/hotel/persitance/entity/Position.hbm.xml"/>
    <mapping resource="ch/bbw/siegrist/hotel/persitance/entity/Mahnung.hbm.xml"/>
    <mapping resource="ch/bbw/siegrist/hotel/persitance/entity/Kunden.hbm.xml"/>
    <mapping resource="ch/bbw/siegrist/hotel/persitance/entity/Buchung.hbm.xml"/>
    <mapping resource="ch/bbw/siegrist/hotel/persitance/entity/Benutzer.hbm.xml"/>
    <mapping resource="ch/bbw/siegrist/hotel/persitance/entity/Leistung.hbm.xml"/>
    <mapping resource="ch/bbw/siegrist/hotel/persitance/entity/Zahlung.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
